
<div class="main">

    <p style="font-weight:500">Personal information</p>

    <div class="section">

        <div class="row">

            <div class="col">

                <i class="fa-solid fa-phone-volume "></i>

                <div class="data1 fw-bold">Phone Number</div>

                <div class="data2" >7623587</div>              

            </div>

            <div class="col">

                <i class="fa-regular fa-envelope"></i>

                <div class="data1 fw-bold">EmailID</div>

                <div class="data2">atira@g.com</div>              

            </div>

            <div class="col">

                <i class="fa-solid fa-location-dot"></i>

                <div class="data1 fw-bold">Place</div>

                <div class="data2">Kochi</div>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <i class="fa-solid fa-briefcase"></i>

                <div class="data1 fw-bold">BusinessLine</div>

                <div class="data2">abc</div>                

            </div>

            <div class="col">

                <i class="fa-regular fa-user"></i>
                <div class="data1 fw-bold">Position</div>

                <div class="data2">Consultants</div>                

            </div>

            <div class="col">

                <i class="fa-solid fa-diagram-project fa-rotate-90"></i>
                                <div class="data1 fw-bold">Sector</div>

                <div class="data2">xyz</div>                

            </div>

        </div>

   

    </div>

   

</div>