<header class="head1 d-flex">
    <div class="head mt-2 mb-2 ">
        <div class=" symbol d-flex  ">
            <div class="imagediv" style="background-image:url(../../../assets/Vector.png)"></div>

            <!-- <img src="../../../assets/Vector.png" height="16" width="16">        -->
            <p class="ms-2">CONNECT</p>
        </div>
        <!-- <div class=" d-flex"> -->
            <p class="  ">Explore</p>
            <p class="  ">Communities</p>
        <!-- </div> -->
    </div>

    <div class="d-flex box mt-2 mb-2 ">
        <input type="text" name="text" placeholder="Search for people" class="icon search mt-2">
        <div class="notification_bell ms-4 mt-2">
            <div class="i_size d-flex">
                <i class="fa fa-comments" aria-hidden="true" style="color:#295051"></i>
                <i class="fa fa-bell ms-4" aria-hidden="true" style="color:#295051"></i>
            </div>
            <div class="d-flex ms-4">
                <div class="imagediv1" style="background-image:url(../../../assets/Rectangle\ 9.png)"></div>
                <i class="fa-solid fa-angle-down ms-2 mt-3"></i>
            </div>


        </div>
    </div>

</header>