header{
    background: var(--maincolor);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    
    height: 86px;
}
.head{
    width: 41%;
    display: flex;
    /* border: 1px solid black; */
    /* margin-left: 1%; */
    padding-top: 1%;
    padding-left: 0%;
    /* padding-inline:6%; */
    justify-content:space-evenly;
    /* white-space: nowrap; */
    margin-left: 3%;
    align-items: center;
    /* overflow: hidden; */
    /* position: relative; */
}

.imagediv{
    /* position: fixed; */
    height: 28px;
    aspect-ratio: 1;
    /* border-radius: 46%; */
    display: grid;
    place-items: center;
    /* border: 1px solid black; */
    /* border-color: #5b5a5a; */
    background-size: cover;
    background-repeat: no-repeat;
}
.symbol{

}
.img{   
width: 2%;
height:2%;
margin-top: 2%; 
}
.text{   
font-weight: 700;
line-height: normal;
padding-top: 1%;
padding-inline: 6%;
justify-content:space-between;
}
.text1{
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    font-size: 24px;
    margin-left: 0%
}
.text2{
    color: var(--medium-grey, #7F7F80);
    margin-left: 7%;
    font-family:Outfit;
    font-size: 20px;
    font-weight: 200;
    line-height: normal;
    height: 0%;
}
.text3{
    color: var(--medium-grey, #7F7F80);
    margin-left: 29%;
    font-family:Outfit;
    font-size: 20px;
    font-weight: 200;
    line-height: normal;
}

.search{
    /* margin-top: 1%;
    background-color:  rgba(22, 214, 220, 0.05);
    border-radius: 24px;
    border:none;
    width: 20%;
    height: fit-content; */

}
.icon{
    /* padding-left: 4%;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 5%;
      height:75%;
        width:51%;
        background: rgba(41, 80, 81, 0.05); */
    padding-left: 9%;
    /* background: url(https://static.thenounproject.com/png/101791-200.png) no-repeat left; */
    background-size: 5%;
    height: 72%;
    width: 74%;
    background: rgba(41, 80, 81, 0.05);
    border-radius: 24px;
    border:none;

    }
    input::placeholder {
        color: #7F7F80;
        background: url(https://static.thenounproject.com/png/101791-200.png) no-repeat left; 
        background-size:6%;
        background-position: -1%;
        /* background-position: left 1px bottom 21px; */
        /* background-:var(--medium-grey, #7F7F80);font-weight: 500; */
        font-family: Open Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 6%;
      }
      
.box{
    width: 38%;
    /* padding-inline: 15%; */
    margin-bottom: 4%;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 82%;
    /* border: 1px solid black; */
    margin-left: 11%;
    align-items:center;
    

}
.notification_bell{
     display: flex;
    align-items: center;

    
}

i{
font-size: 24px;
}
.imagediv1{
    /* position: fixed; */
    width: 48px;
    height: 48px;
    aspect-ratio: 1;
    border-radius: 12px;
    display: grid;
    place-items: center;
    /* border: 1px solid; */
    /* border-color: #5b5a5a; */
    background-size: cover;
    background-repeat: no-repeat;

}
 /* @media (max-width: 852px){
    input{
        width:12%;
        padding-left: 3%;
    }
    
} */


