<header  class="d-flex">
    <div class="head mt-2 mb-2 ">
        <div class="d-flex mt-3 mb-3">
            
        <img src="../../../assets/Vector.png" height="16" width="16"> </div>
        <div class="text mt-2 d-flex">
        <p class=" text1 ms-2">CONNECT</p>
        <p class="text2 ms-4 mt-1 " >Explore</p>
        <p class="text2 ms-4 mt-1 ">Communities</p>
        </div>              
    </div>
        
    <div class="d-flex box mt-2 mb-2">
        <input type="text" name="text" placeholder="Search for People" class="icon search mt-2">
            
            

                <div class="notification_bell ms-4 mt-2">
                    <i class="fa fa-comments" aria-hidden="true" style="color:#295051"></i>
                <i class="fa fa-bell ms-4" aria-hidden="true" style="color:#295051" ></i>
                <img src="../../../assets/Rectangle 9.png" height="30" width="30" class="ms-4">
                <i class="fa-solid fa-angle-down"></i>
                
                </div>
                

                
              
            </div>
   
</header>
