<div class="communitymain d-flex">
    <div class="round1" style="background-image:url(../../../../assets/Rectangle\ 9.png)">
        <!-- <img src="../../../assets/Rectangle 9.png"> -->
    </div>
    <div class="name_place ms-2">
        <p class="name" style="font-weight:700">Diane Davis</p>
        <p class="place">Kochi</p>

    </div>
</div>

<div class="">
    <h6 class="head">YOUR COMMUNITIES</h6>

    <div class="d-flex community2 " *ngFor="let i of community">
      <!-- {{i.image}} -->
        <div class="round" [ngStyle]="{ 'background-image': 'url(' + i.image + ')' }">
            <!-- <img src="../../../assets/Rectangle 9.png"> -->
        </div>
        <div class="container">
            <div class="communityname">{{i.name}}</div>
            <div class="description">{{i.description}}</div>
        </div>
    </div>

</div>
<div>
    <p class="join">+ Join more communities </p>
</div>