
* {
    font-family: Outfit;
}
.main{
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
  }
.tc-skillSection{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.tc-skillSection1{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-bottom: 10%;

}

.tc-skillSection,.tc-skillSection1 {
    padding: 10px 35px;
        background-color: #fff;       
}

.tc-skillSection div,.tc-skillSection1 div {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--communityDescritpion);
}

.skill {
    background-color: #81B1E533;
    width: max-content;
    height: max-content;
    border-radius: 16px;
    padding: 5px;
    color: #004B84CC;
    padding-left:15px;
    padding-right: 15px;
}

.skills {
    padding-bottom: 20px;
    border-bottom: 1px solid #E9E9E9;
    gap:20px;

}
.skills1 {
    padding-bottom: 20px;
    /* border-bottom: 1px solid #E9E9E9; */
    gap:20px;

}
.skill span{
    margin-left:10px

}

.row1>.floatright {    
    display: flex;
    justify-content: space-between;   
    margin-bottom: 11px;
    width: max-content;
    gap:10px; 
}

.floatright div ,.floatright1 div{
    position: relative;
    padding-left: 20px;  
    font-size: var(--intrest);
}

.floatright div::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 7px;
    left: 0;
    background-color: red;
}

.floatright1>div::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 7px;
    left: 0;
    background-color: red;
}

button {
    border: none;
    background-color: #fff;
}

.floatright>span,
.floatright1>span {
    /* background-color: #fff; */
    color: #004B84CC;
    border: none;
    height: max-content;
    border-radius: 15px;
    width: max-content;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
}

p {
    margin-top: -7px;
    margin-bottom: 1rem;
    font-family: Outfit;
    font-size:var(--sectionHeaderSize);
    font-weight: 500;
    color: #295051;
}

.floatright div:nth-child(1)::before {
    background-color: #2E6C9C;
}

.floatright div:nth-child(2)::before {
    background-color: #7F7E7E;
}

.floatright div:nth-child(3)::before {
    background-color: #C84051;
}

.floatright1 div:nth-child(1)::before {
    background-color: #95C11E;
}

.floatright1 div:nth-child(2)::before {
    border: 1px solid var(--green, #95C11E);
}

.floatright1 div:nth-child(3)::before {
    background-color: #7F7E7E;
}

.passion {
    background-color: RGBA(149, 193, 30, 0.16);
    color: #7EAD00;
    border-radius: 16PX;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.row1 {
    justify-content: space-between;
    margin-top: 15px
}
.floatright1>div{
    display: none
}
@media (max-width: 780px) {
  .floatright div{
    display: none;
    
  }
  
  .floatright1{
    border-top: 1px solid #E9E9E9;
    /* margin-top: 1%; */
}
  .floatright1{
    justify-content: center;
  }
  .floatright1>div{
    display: flex;
  }
  .main{
    gap: 19px;
}
.tc-skillSection,.tc-skillSection1 {
        border-radius: 16px;
}
.skill{
    display: grid;
}
  }