/* You can add global styles to this file, and also import other style files */
/* *{
    background-color: #D9D9D9;
} */

:root{
    --maincolor:rgb(255, 255, 255);
    --circe:50%;
    --sectionHeaderSize:26px;
    --communityname:24px;
    --sectionDescription:18px;
    --communityDescritpion:16px;
    --communityjoin:16px;
    --intrest:14px;
}
/* body{
    zoom: %;
} */

@media (max-width:1280px) {
   :root{
    --sectionHeaderSize:18px;
    --sectionDescription:15px;
    --communityname:16px;
    --communityDescritpion:13px;
    --communityjoin:12px;
    --intrest:11px;


   } 
}
/* @media (max-width:550px) {
    :root{
     --sectionHeaderSize:15px;
     --sectionDescription:12px;
 
    } 
 } */